
{{#link-to "products.product" product._id}}
  <img src="/mock-img.svg" class="product-card_img" />
  <div class="product-card_name">
    {{ product.name }}
  </div>
{{/link-to}}
<div class="{{ if showPricing "product-card_pricing product-card_pricing--open" "product-card_pricing"}}">
  $ {{ product.pricing }}.00
</div>
